@model string //model ile bu sayfada kullanılacak ulan veri tipi ne ise onu belirtiyoruz.
<div class="display-3">
    Index 1

</div>
<div class="lead">
    @Model @*Sayfaya taşıdığımız model*@
</div>